<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sq.gmall.manage.mapper.PmsBaseAttrInfoMapper">

    <resultMap id="getAttrValueListByBalueIdMap" type="com.sq.gmall.bean.PmsBaseAttrInfo" autoMapping="true">
        <result column="ai_id" property="id"/>
        <collection property="attrValueList" ofType="com.sq.gmall.bean.PmsBaseAttrValue" autoMapping="true">
            <result column="av_id" property="id"/>
        </collection>
    </resultMap>
    <select id="getAttrValueListByBalueId" resultMap="getAttrValueListByBalueIdMap">
        select
            ai.*,av.*,ai.id ai_id,av.id av_id
        from
            pms_base_attr_info ai,
            pms_base_attr_value av
        where
            ai.id = av.attr_id
        and
            av.id in (${valueIds})
    </select>
</mapper>